@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #48c4f2;
    --secondary-color: #031b28;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #ff0000;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Navbar */
.navbar {
    background-color: var(--secondary-color);
    color: var(--light-color);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: auto 13;
    background-color: var(--secondary-color);
    color: #fff;
    position: relative;
    /* overflow: hidden; */
}

.showcase .grid {
    overflow: visible;
    gap: 30px;
}

.showcase-cover {
    justify-self: center;
}

.showcase-cover img{
    height: 320px;
    width: 812px;
}

.showcase-profile {
    justify-self: center;
    padding: 10px;
    font-size: 16px;
}

.showcase-profile img{
    z-index: 100;
    margin:-70px 10px 0  0;
    border: 1px solid var(--light-color);
    border-radius: 50%;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* About */
.about {
    padding-top: 100px;
}

.about .container {
    justify-items: center;
}

.about-heading {
    max-width: 500px;
    margin: auto;
}

.under-contruct img{
    height: 300px;
    width: 500px;
}

/* Mobile */
@media(max-width: 360px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .showcase-cover{
        overflow: hidden;
    }

    .under-contruct img{
        height: 300px;
        width: 100%;
    }
}